.area-list-columns > div {
    display: flex;
    flex-direction: column;
  }
  
  .area-list-columns img {
    width: 100%;
  }
  
  .area-list-columns > div > div {
    order: 1;
  }
  
  .area-list-columns > div > .columns-img-col {
    order: 0;
  }
  
  .area-list-columns > div > .columns-img-col img {
    display: block;
  }
  
  @media (width >= 900px) {
    .area-list-columns > div {
      align-items: center;
      flex-direction: unset;
      gap: 24px;
    }
  
    .area-list-columns > div > div {
      flex: 1;
      order: unset;
    }
  }
  

.columns-text-col {
    background-color: #fff;
    padding: 24px;
}

.area-list-columns > div {
    gap: 0;
    align-items: stretch;
}

.area-list-columns > div > .columns-img-col img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.area-list-columns > div > .columns-img-col {
    flex: 1;
}

.area-list-columns.block.columns-2-cols {
    row-gap: 24px;
    display: flex;
    flex-direction: column;
}

.columns-text-col ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}